<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="SQL_Database" connectionString="Server=tcp:fsociety.database.windows.net,1433;Initial Catalog=EGARZA;Persist Security Info=False;User ID=elliot;Password=Sqlserver01;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>

  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
