<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="SQL_Database" connectionString="Data Source=35.239.6.155;Network Library=DBMSSOCN;Initial Catalog=EGARZA;User ID=sqlserver;Password=potatokiller;"/>
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
