<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="SQL_Database" connectionString="Server=35.239.6.155;Database=EGARZA;User Id=sqlserver;Password=potatokiller;"/>
  </connectionStrings>

  <system.webServer>
  <handlers>
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    <remove name="OPTIONSVerbHandler" />
    <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
  </handlers>
</system.webServer>
  
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
